# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Data / models
/data/raw/*
/data/processed/*
!/data/raw/.gitkeep
!/data/processed/.gitkeep
/models/*.keras
/models/*.h5
/models/encoders/*
!/models/encoders/.gitkeep

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
logs/
